<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/index-data/index-main.css">
    <link rel="stylesheet" href="/static/styles/index-data/nav.css">
    <link rel="stylesheet" href="/static/styles/docks/docks.css">
    <link rel="stylesheet" href="/static/styles/index-data/footer.css">
</head>
<body>
    <section class="docks">
        <div class="container">
            <nav class="navigation">
                <div class="navigation-logo">
                    <img class="navigation-logo__img" src="static/data/img/photo_2025-02-14_16-50-33.png" alt="ERROR"  width="200px">
                    <div class="navigation-logo__info">
                        <h3 class="navigation-logo__title">Школьная Wifi станция</h3>
                        <p class="navigation-logo__paragraph">Мы за безопасность и удобство!</p>
                    </div>
                </div>
                <div class="navigation-links">
                    <a href="{% url 'index' %}"><button class="navigation-links__item">Главная</button></a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'info' %}"><button class="navigation-links__item ">Показания</button></a>
                        <a href="{% url 'users:logout' %}"><button class="navigation-links__item ">Выйти</button></a>
                    {% endif %}
                    <a href="{% url 'docs' %}"><button class="navigation-links__item navigation-links__item-active">Документация</button></a>
                    {% if not user.is_authenticated %}
                        <a href="{% url 'users:login' %}"><button class="navigation-links__item">Вход</button></a>
                        <a href="{% url 'users:registration' %}"><button class="navigation-links__item">Регистрация</button></a>
                    {% endif %}
                </div>
            </nav>
            <div class="docks-content">
                


            </div>
        </div>
    </section>
    <footer class="footer footer-fixed">
        <div class="footer-content">
            <h4 class="footer-content__title">Информация о проекте и разработчике: </h4>
            <div class="footer-content__data">
                <img class="footer-content__data-img" src="/static/data/img/git-logo.png" alt="ERROR">
                <a href="https://github.com/zeniafiat"><button class="navigation-links__item">Наш github</button></a>
                <a href="eugeniydevtalent@gmail.com"><button class="navigation-links__item">Написать по вопросам</button></a>
            </div>
        </div>
    </footer>
</body>
</html>