<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/index-data/index-main.css">
    <link rel="stylesheet" href="/static/styles/index-data/nav.css">
    <link rel="stylesheet" href="/static/styles/docks/docks.css">
    <link rel="stylesheet" href="/static/styles/index-data/footer.css">
</head>
<body>
    <section class="docks">
        <div class="container">
            <nav class="navigation">
                <div class="navigation-logo">
                    <img class="navigation-logo__img" src="{% static '/data/img/photo_2025-02-14_16-50-33.png' %}" alt="ERROR"  width="200px">
                    <div class="navigation-logo__info">
                        <h3 class="navigation-logo__title">Школьная Wifi станция</h3>
                        <p class="navigation-logo__paragraph">Мы за безопасность и удобство!</p>
                    </div>
                </div>
                <div class="navigation-links">
                    <a href="{% url 'index' %}"><button class="navigation-links__item">Главная</button></a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'info' %}"><button class="navigation-links__item ">Показания</button></a>
                        <a href="{% url 'users:logout' %}"><button class="navigation-links__item ">Выйти</button></a>
                    {% endif %}
                    <a href="{% url 'docs' %}"><button class="navigation-links__item navigation-links__item-active">Документация</button></a>
                    {% if not user.is_authenticated %}
                        <a href="{% url 'users:login' %}"><button class="navigation-links__item">Вход</button></a>
                        <a href="{% url 'users:registration' %}"><button class="navigation-links__item">Регистрация</button></a>
                    {% endif %}
                </div>
            </nav>
            <div class="docks-content">
                <h1>Проект «Wifi-School-Station»</h1>

    <p>Проект «Wifi-School-Station» представляет собой систему мониторинга окружающей среды и обеспечения безопасности помещений для школы, которая собирает данные с датчиков и передает их на сервер для дальнейшей обработки и хранения. Пользователь может запросить актуальные данные или историю показателей через Telegram-бота. Проект разработан на базе микроконтроллера LOLIN(WEMOS) D1 с использованием OLED-дисплея, датчиков MQ-5, DHT-22, HC-SR505 и RFID-RC522. Программная часть включает в себя код для микроконтроллера, написанный на C++ в Arduino IDE, и серверную часть, реализованную с использованием Python, SQLite и библиотеки aiogram для Telegram-бота.</p>

    <h2>Технические особенности</h2>

    <h3>Аппаратная часть:</h3>

    <table>
        <thead>
            <tr>
                <th>Компонент</th>
                <th>Назначение</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>LOLIN(WEMOS) D1</td>
                <td>Основной микроконтроллер</td>
            </tr>
             <tr>
                <td>Arduino Nano</td>
                <td>RFID и сигнализация</td>
            </tr>
            <tr>
                <td>Датчик MQ-5</td>
                <td>Определение концентрации газов</td>
            </tr>
            <tr>
                <td>Датчик DHT-22</td>
                <td>Измерение температуры и влажности</td>
            </tr>
            <tr>
                <td>RFID-RC522</td>
                <td>Чтение RFID-меток</td>
            </tr>
            <tr>
                <td>HC-SR505</td>
                <td>Инфракрасный датчик движения</td>
            </tr>
            <tr>
                <td>Зуммер YL-44</td>
                <td>Звуковая сигнализация</td>
            </tr>
        </tbody>
    </table>

    <h3>Программная часть:</h3>

    <h4>Микроконтроллер:</h4>
    <p>Программа написана на C++ в среде Arduino IDE. Используются библиотеки для работы с OLED-дисплеем, датчиками MQ-5 и DHT-22, а также для подключения к Wi-Fi и отправки данных на сервер:</p>

    <table>
        <thead>
            <tr>
                <th>Библиотека</th>
                <th>Назначение</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>ESP8266WiFi.h</code></td>
                <td>Для подключения к Wi-Fi на ESP8266.</td>
            </tr>
            <tr>
                <td><code>WiFiClient.h</code></td>
                <td>Для создания TCP-клиентов на ESP8266.</td>
            </tr>
            <tr>
                <td><code>MQUnifiedsensor.h</code></td>
                <td>Для работы с датчиками газа (например, MQ-5).</td>
            </tr>
            <tr>
                <td><code>Wire.h</code></td>
                <td>Для взаимодействия с устройствами по интерфейсу I2C.</td>
            </tr>
            <tr>
                <td><code>Adafruit_GFX.h</code></td>
                <td>Графическая библиотека для управления дисплеями (например, OLED).</td>
            </tr>
            <tr>
                <td><code>Adafruit_SSD1306.h</code></td>
                <td>Для управления OLED-дисплеями на базе чипа SSD1306.</td>
            </tr>
            <tr>
                <td><code>SPI.h</code></td>
                <td>Для работы с интерфейсом SPI (Serial Peripheral Interface).</td>
            </tr>
             <tr>
                <td><code>MFRC522.h</code></td>
                <td>Для работы с RFID-модулем MFRC522 (чтение RFID-меток).</td>
            </tr>
        </tbody>
    </table>

    <h4>Сервер:</h4>
    <p>Серверная часть написана на Python. Используются библиотеки:</p>

    <table>
        <thead>
            <tr>
                <th>Библиотека</th>
                <th>Назначение</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>Aiogram</code></td>
                <td>Для создания Telegram-бота.</td>
            </tr>
            <tr>
                <td><code>sqlite3</code></td>
                <td>Для работы с базой данных SQLite.</td>
            </tr>
            <tr>
                <td><code>Requests</code></td>
                <td>Для обработки HTTP-запросов.</td>
            </tr>
            <tr>
                <td><code>SQLite</code></td>
                <td>Для хранения истории показаний датчиков.</td>
            </tr>
            <tr>
                <td><code>Socket</code></td>
                <td>Для работы с сетью в Python.</td>
            </tr>
            <tr>
                <td><code>asyncio</code></td>
                <td>Для асинхронной работы с сетью в Python.</td>
            </tr>
        </tbody>
    </table>

    <h2>Применение</h2>

    <p>Проект может быть использован для мониторинга окружающей среды в учебных заведениях, офисах, домах или других помещениях, а также для обеспечения безопасности.  Основные функции:</p>

    <ul>
        <li>Отображение данных: Текущие показания датчиков отображаются на OLED-дисплее.</li>
        <li>Передача данных: Данные передаются на сервер для хранения и обработки.</li>
        <li>Запрос данных через Telegram-бота: Пользователь может запросить актуальные данные или историю показаний через Telegram-бота.</li>
    </ul>

    <h2>Вопросы и ответы</h2>

    <p><b>Вопрос:</b> Как подключить датчики к NodeMCU ESP8266?</p>
    <p><b>Ответ:</b></p>
    <ul>
        <li>MQ-5: Подключите аналоговый выход датчика к аналоговому входу NodeMCU (например, A0).</li>
        <li>DHT-22: Подключите выход датчика к цифровому пину NodeMCU (например, D4).</li>
    </ul>

    <p><b>Вопрос:</b> Как настроить Wi-Fi подключение?</p>
    <p><b>Ответ:</b> В коде для NodeMCU укажите SSID и пароль от вашей Wi-Fi сети в переменных <code>ssid</code> и <code>password</code>.</p>

    <p><b>Вопрос:</b> Как получить данные через Telegram-бота?</p>
    <p><b>Ответ:</b> Отправьте команду <code>пришли данные</code> в Telegram-боте, чтобы получить актуальные данные, или <code>посмотреть прошлые данные</code>, чтобы получить историю показаний.</p>

        <p><b>Вопрос:</b> Как запустить проект у себя на ПК?</p>
    <p><b>Ответ:</b> Скачайте файлы проекта с <a href="https://github.com/zeniafiat/Wifi-School-Station">https://github.com/zeniafiat/Wifi-School-Station</a>. Далее откройте файл main.py в файлах Telegram-бота. После этого подключите устройство через провод Type-C к источнику питания 5В. Откройте телеграмм бота токен которого надо ввести в main.py .</p>

    <h2>Информация о датчиках и плате</h2>

    <h3>Датчик MQ-5</h3>
    <p><b>Назначение:</b> Определение концентрации газов (углеводороды, водород, метан и др.).</p>
    <p><b>Подключение:</b> Аналоговый выход датчика подключается к аналоговому входу NodeMCU.</p>
    <p><b>Особенности:</b> Требуется калибровка для точного определения концентрации газов.</p>

    <h3>Датчик DHT-22</h3>
    <p><b>Назначение:</b> Измерение температуры и влажности.</p>
    <p><b>Подключение:</b> Цифровой выход датчика подключается к цифровому пину NodeMCU.</p>
    <p><b>Особенности:</b> Высокая точность измерений, но может быть задержка в получении данных.</p>

      <h3>Датчик RFID-RC522</h3>
    <p><b>Назначение:</b> Чтение RFID-меток (идентификация объектов или пользователей)</p>
    <p><b>Подключение:</b> Подключается по интерфейсу SPI (SDA, SCK, MOSI, MISO, RST) к микроконтроллеру.</p>
    <p><b>Особенности:</b> Работает на частоте 13,56 МГц, поддерживает несколько типов RFID-меток.</p>

      <h3>Датчик HC-SR505</h3>
    <p><b>Назначение:</b> Обнаружение движения с помощью инфракрасного излучения.</p>
    <p><b>Подключение:</b> Цифровой выход датчика подключается к цифровому пину микроконтроллера.</p>
    <p><b>Особенности:</b> Компактный, низкое энергопотребление, автоматическая калибровка.</p>

     <h3>Зуммер YL-44</h3>
    <p><b>Назначение:</b> Генерация звуковых сигналов (оповещение или сигнализация).</p>
    <p><b>Подключение:</b> Подключается к цифровому пину микроконтроллера.</p>
    <p><b>Особенности:</b> Простое управление, может издавать звуки разной частоты и длительности.</p>

    <h3>Arduino Nano</h3>
    <p><b>Назначение:</b> Компактный микроконтроллер для управления устройствами и обработки данных.</p>
    <p><b>Особенности:</b>Поддерживает интерфейсы SPI, I2C, UART.Идеален для работы с датчиками, RFID-модулями, зуммерами и другими периферийными устройствами.</p>

    <h3>Плата LOLIN (wemos) d1</h3>
    <p><b>Микроконтроллер:</b> ESP8266 с интегрированным Wi-Fi модулем.</p>
    <p><b>Порты:</b> Аналоговые и цифровые порты для подключения датчиков и других устройств.</p>
    <p><b>Питание:</b> 3.3V, но может работать от 5V через встроенный регулятор напряжения.</p>

    <h2>Сложности в программировании</h2>

    <ul>
        <li>Работа с Wi-Fi: Настройка стабильного Wi-Fi соединения может быть сложной, особенно в условиях слабого сигнала.</li>
        <li>Калибровка датчиков: Датчик MQ-5 требует калибровки для точного измерения концентрации газов. Но в загруженной программе калибровка происходит автоматически.</li>
        <li>Обработка данных на сервере: Необходимо учитывать возможные задержки в передаче данных и обрабатывать ошибки соединения. При неправильном подключении.</li>
    </ul>

    <h2>Вывод</h2>

    <p>Проект «Wifi-School-Station» представляет собой эффективное решение для мониторинга окружающей среды с использованием современных технологий. Он сочетает в себе аппаратную часть на базе LOLIN(WEMOS) D1 и программную часть, реализованную на Python. Проект может быть расширен за счет добавления новых датчиков и функциональности. В будущем планируется улучшение стабильности работы, добавление новых функций и оптимизация кода. Себестоимость устройства ≈70 BYN</p>

    <p>Для дальнейшего развития проекта планируется:</p>

    <ul>
        <li>Улучшить обработку ошибок и стабильность соединения.</li>
        <li>Добавить поддержку новых датчиков.</li>
        <li>Оптимизировать код для повышения производительности.</li>
        <li>Cоздать сайт для администрации школьного заведения(для просмотра последних данных с классов учебного заведения)</li>
        <li>Новый способ подключения устройств к Telegram-бота по их токену</li>
        <li>Более компактная сборка устройста на печтаной плате личного производства(в процессе)</li>
    </ul>

            </div>
        </div>
    </section>
    <footer class="footer footer-fixed">
        <div class="footer-content">
            <h4 class="footer-content__title">Информация о проекте и разработчике: </h4>
            <div class="footer-content__data">
                <img class="footer-content__data-img" src="/static/data/img/git-logo.png" alt="ERROR">
                <a href="https://github.com/zeniafiat"><button class="navigation-links__item">Наш github</button></a>
                <a href="eugeniydevtalent@gmail.com"><button class="navigation-links__item">Написать по вопросам</button></a>
            </div>
        </div>
    </footer>
</body>
</html>